body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

#righthand {
  animation: righthand 1s ease infinite alternate;
  transform-origin: bottom left;
  transform-box: fill-box;
}

#lefthand {
  animation: lefthand 1s ease infinite alternate;
  transform-origin: bottom left;
  transform-box: fill-box;
}

#eye {
  animation: eye 2s ease infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

#plant {
  animation: plant 2s ease infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes righthand {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(12px);
  }
}

@keyframes lefthand {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(5px);
  }
}

@keyframes eye {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(35deg);
  }
}

@keyframes plant {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(15deg);
  }
}
